<app-menu></app-menu>
<!-- Header -->
<div class="w3-opacity w3-padding-64">
  <div class="w3-clear"></div>
  <header class="w3-center w3-margin-bottom">

    <h1>
      <b>Photography</b>
    </h1>
    <div class="black-text">
      <h4>Below are samples of my work.</h4>
      <h4>I also have images available for purchase on
        <a href="https://www.shutterstock.com/g/john+leblanc/" target="_blank" title="Shutterstock">
          Shutterstock
          <i class="fa fa-camera-retro w3-hover-opacity"></i>
        </a>
      </h4>
      <h4>If you happen to be looking for sports league pictures you can find them at these locations:
        <br>
        <br>
        <a href="/gps" title="GPS Central Massachusetts - 2009" target="_blank">
          <img src="../assets/images/GPSSmall.png" alt="GPS Massachusetts">
        </a>
        <a href="/gsc" title="Grafton Soccer Club" target="_blank">
          <img src="../assets/images/gscSmall.gif" alt="Grafton Soccer Club">
        </a>
        <a href="/hcu" title="Grafton Little League - Homefield CU" target="_blank">
          <img src="../assets/images/gllSmall.png" alt="Grafton Little League - Homefield CU">
        </a>
      </h4>
    </div>

  </header>
</div>

<!-- Photo Grid -->
<div class="w3-panel" style="align-items: center">

  <div class="w3-clear"></div>

  <div class="row">

    <div class="column">

      <a href="https://c6.staticflickr.com/9/8351/29301526853_020c92fe3a_k.jpg" data-lightbox="all">
        <img class="" src="https://c1.staticflickr.com/9/8351/29301526853_80bb0e03b8_m_d.jpg" alt>
      </a>

      <a href="https://c2.staticflickr.com/5/4122/4768197897_cf37cc01ac_b.jpg" data-lightbox="all">
        <img class="" src="https://c1.staticflickr.com/5/4122/4768197897_cf37cc01ac_m_d.jpg" alt>
      </a>

      <a href="https://c4.staticflickr.com/1/565/22216830315_c0aaed1a61_k.jpg" data-lightbox="all">
        <img class="" src="https://c1.staticflickr.com/1/565/22216830315_6668611cc1_m_d.jpg" alt>
      </a>

      <a href="https://c1.staticflickr.com/6/5811/29634280000_7c47576517_k.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/6/5811/29634280000_b8ff50a948_m_d.jpg" alt>
      </a>

    </div>

    <div class="column">

      <a href="https://c7.staticflickr.com/9/8150/29302424134_dc6851cc15_k.jpg" data-lightbox="all">
        <img class="" src="https://c1.staticflickr.com/9/8150/29302424134_b7a38282b5_m_d.jpg" alt>
      </a>

      <a href="../assets/images/04Cortland.JPG" data-lightbox="re">
        <img class="" src="../assets/images/04CortlandThumb.JPG" alt>
      </a>

      <a href="https://c5.staticflickr.com/8/7094/7394136668_2822c7c975_k.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/8/7094/7394136668_2bf969bf74_m_d.jpg" alt>
      </a>

      <a href="https://c6.staticflickr.com/1/569/23201284661_86341eedd5_k.jpg" data-lightbox="all">
        <img class="" src="https://c1.staticflickr.com/1/569/23201284661_1914235dc8_m_d.jpg" alt>
      </a>

      <a href="https://c5.staticflickr.com/2/1644/26566319916_64e0cb9eda_k.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/2/1644/26566319916_409d246521_m_d.jpg" alt>
      </a>


    </div>

    <div class="column">

      <a href="https://c6.staticflickr.com/6/5733/20697163781_2af6820283_k.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/6/5733/20697163781_8d9cb8f8c0_m_d.jpg" alt>
      </a>

      <a href="https://c8.staticflickr.com/9/8799/29844885671_fed7e50334_k.jpg" data-lightbox="all">
        <img class="" src="https://c1.staticflickr.com/9/8799/29844885671_30333ab8ba_m_d.jpg" alt>
      </a>

      <a href="https://c5.staticflickr.com/8/7100/7394133156_9f1619e165_k.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/8/7100/7394133156_b6e0c8d615_m_d.jpg" alt>
      </a>

      <a href="https://c2.staticflickr.com/6/5240/5876307065_ae361ed9bb_b.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/6/5240/5876307065_ae361ed9bb_m_d.jpg" alt>
      </a>

    </div>

    <div class="column">

      <a href="https://c5.staticflickr.com/9/8482/29300876044_606bfe5f6b_k.jpg" data-lightbox="all">
        <img class="" src="https://c1.staticflickr.com/9/8482/29300876044_419984e2c2_m_d.jpg" alt>
      </a>

      <a href="https://c8.staticflickr.com/6/5245/5327264887_327b63f22e_b.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/6/5245/5327264887_327b63f22e_m_d.jpg" alt>
      </a>

      <a href="https://c2.staticflickr.com/6/5265/5880152793_761e5725db_b.jpg" data-lightbox="all">
        <img class="" src="https://c2.staticflickr.com/6/5265/5880152793_761e5725db_m_d.jpg" alt>
      </a>

      <a href="../assets/images/03Home.JPG" data-lightbox="all">
        <img class="" src="../assets/images/03HomeThumb.JPG" alt>
      </a>

    </div>
  </div>
</div>