<app-menu></app-menu>
<!-- Header -->
<div class="w3-opacity w3-padding-64">
    <div class="w3-clear"></div>
    <header class="w3-center w3-margin-bottom">

        <h1><b>Android Apps</b></h1>

        <h4 class="margin-left">I am now learning to design and code Android apps.</h4>
        <h4 class="margin-left">I have one app in the Google Play 
            store and a number of ideas for more so watch the list grow!</h4>


    </header>
</div>

<div class="white-text margin-left margin-10">
    <h4>
        My apps in the Google Play store
    </h4>
    <div class="row">
        <div class="col-md-4">
            <a href="https://play.google.com/store/apps/details?id=com.blackstonevalleymedia.splitthebill&hl=en" target="_blank">
                <img src="../assets/images/SplitTheBillPlayStore.png" class="img-rounded" alt="Split the Bill" >
            </a>
        </div>
    </div>
</div>
