<div class="w3-content w3-container w3-padding-64 resume-container">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <h2>John LeBlanc</h2>
          <p>
            <i class="fa fa-desktop fa-fw w3-margin-right w3-large w3-text-teal"></i>Team Leader & Software Engineer</p>
          <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Grafton MA</p>
          <p>
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>john@johnaleblanc.com</p>
          <p>
            <i class="fa fa-file-pdf-o fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <a href="./JohnALeBlanc.pdf" target="_blank" class="w3-text-teal">Download Resume</a>
          </p>
          <hr>

          <p class="w3-large">
            <b>
              <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Technical Profile</b>
          </p>
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <br>
          <p>AngularJS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <br>
          <p>HTML5</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <br>
          <p>Bootstrap</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <br>
          <p>Agile</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <br>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <br>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">
              <div class="w3-center w3-text-white">70%</div>
            </div>
          </div>
          <br>
          <p>Android</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>
          <br>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>
          <br>
          <p>Node.js</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">
              <div class="w3-center w3-text-white">40%</div>
            </div>
          </div>
          <br>

        </div>
      </div>
      <br>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-address-card-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Summary</h2>
        <div class="w3-container">
          <p>Accomplished leader with extensive experience designing and developing cutting-edge technical solutions. Equally
            effective with leading technical teams and providing hands-on programming expertise. Proficient leading and mentoring
            team members, creating a cohesive, responsive, and goal-focused team. Excellent verbal and written communicator
            adept at interfacing with customers, peers and management team.</p>
          <br>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>UI Consultant</b>
          </h5>
          <h5 class="w3-opacity">
            <b>Dell EMC, Hopkinton MA</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
          <p>UI Consultant working to enhance an AngularJS prototype into a robust product that meets Dell EMC standards and
            requirements. The application reads statistical data into the system, transforms it into a number of different
            key performance indicators and then displays the results as web reports using charts and tables.</p>
          <ul>
            <li>Integrate the prototype UI into an existing AngularJS framework.</li>
            <li>Convert the Google Charts used in the original version to HighCharts and update client/server communication to
              access a Tomcat server.</li>
            <li>Enhance the usability of the product by redesigning key features of the user interface.</li>
            <li>Create reusable UI components for future enhancements to the prototype.</li>
          </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>UI Development Lead</b>
          </h5>
          <h5 class="w3-opacity">
            <b>CVS Health, Woonsocket RI</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2017</h6>
          <p>Lead UI engineer for a number of projects tasked with the design and development of improvements and new features
            to the CVS.com retail site. Focused on improving the user experience on the site as well as meeting business
            requirements. Technologies used include, Angular JS, JavaScript, HTML5, CSS/LESS and Java Server pages.</p>
          <ul>
            <li>Lead the design and development of user interface features utilizing mobile first, responsive web development.</li>
            <li>Work with product management team to generate requirement and design documents as well as backlog grooming.</li>
            <li>Interface with QA and release teams to ensure standards are met and a quality product is released on time following
              the established processes.</li>
            <li>Manage the tasks and schedules of team members, both local and remote, working on the UI and backend server.</li>
          </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Team Lead and Principal Software Engineer</b>
          </h5>
          <h5 class="w3-opacity">
            <b>Dell EMC, Hopkinton MA</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2007 - 2016</h6>
          <p>Accountable for developing the user interface of the Symmetrix performance analyzer originally developed using
            Java, then a second generation was completed using Adobe Flex and the current version uses HTML5, JavaScript
            and Angular JS. The products primary goal is to provide performance data about Symmetrix systems using charts
            and tabular data in a concise and easy to use interface.</p>
          <ul>
            <li>Led design and development of user interface which provided performance data about Symmetrix systems using charts
              and tabular data via a concise and easy to use interface.</li>
            <li>Identified features and requirements based on customer input and industry requirements and work with product
              management team to generate requirement and design documents.</li>
            <li>Managed the tasks and schedules of 3 team members, both local and remote, working on the UI.</li>
            <li>Ensured team members’ skills were kept up to date by delivering ongoing training and mentoring.</li>
            <li>Coded and debugged server side functionality in Java.</li>
            <li>Designed and implemented the original data warehouse using MySQL database.</li>
          </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Senior Software Engineer/ Senior Member Technical Staff</b>
          </h5>
          <h5 class="w3-opacity">
            <b>General Dynamics, Needham MA</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2004 - 2007</h6>
          <p>Led the development of encryption device managers. The newer product was developed as a client/server application
            using Java, JBoss application server and Cloudscape database, while the older product used a Visual C++ front-end
            created to interface to an SNMP utility that communicated to the device.</p>
          <ul>
            <li>Accountable for the design and development of the user interface. Worked with an external company on usability
              and consistency issues.</li>
            <li>Manage the tasks of 4 team members working on the UI and conducted training.</li>
            <li>Additional tasks included prototyping the initial client/server architecture of the product, integrating 3rd
              party applications and working with other team members on the architecture.</li>
            <li>Accessed SNMP utilities to interface between the front end user interface and the device.</li>
          </ul>
          <br>
        </div>
        <div class="w3-container">
          <a href="./resume/JohnALeBlanc.pdf" target="_blank">
            <p class="w3-text-teal">View Complete Resume</p>
          </a>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Bachelor of Science, (BS) - Computer Science</b>
          </h5>
          <p class="w3-text-teal">Wentworth Institute of Technology, Boston, MA</p>
          <hr>
        </div>
        <div class="w3-container">
          <p class="w3-text-teal">Learning Tree International - Java Programming</p>
          <p class="w3-text-teal">Learning Tree International - Web Apps with AngularJS</p>
          <p class="w3-text-teal">Learn and Understand AngularJS</p>
          <p class="w3-text-teal">Human Factors International - How to Design Effective GUIs</p>
          <p class="w3-text-teal">Learning Tree International - Amazon Web Services</p>
          <p class="w3-text-teal">PMP Certification Course</p>
          <br>
        </div>
      </div>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>